<p class="notice"><%= notice %></p>

<h1><%= @project.name %></h1>
<p>A project managed by <%= link_to @group.name, @group %>
<% unless @project.active %>
  <p><em>This project is currently inactive.</em></p>
<% end %>

<br />
<%= link_to 'Edit', edit_group_project_path(@group, @project) %>
